body {
    background: linear-gradient(to right, #000000, #00ff66);
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    background: #000;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #00ff66;
    background: black;
    color: white;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    background: #00ff66;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #00ff66;
}

#resposta {
    margin-top: 20px;
    color: #00ff66;
    font-weight: bold;
}